#root {
  display: grid;
  justify-content: space-around;
  grid-template-columns: 25% 25% 25% 25%;
  color: #fda403;
  background-color: #393e46;

}
section {
  width: 300px;
    margin: 0px;
    border: 4px solid white;
    padding: 3px;
    text-align: center;

}